# Prerequisites
*.d
#  Build files
build/
build_*/ 

# large folder
third_party/tensorrt/

# vscode folder
.vscode/ 
# datasets folder
assets/datasets
# output folder
output
# tmp folder
tmp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# log files
*log
